@import '_reset.scss';

$dark: hsl(165, 70%, 5%);
$dark-primary: hsl(165, 90%, 10%);
$primary: hsl(165, 400%, 20%);
$light-primary: hsl(165, 15%, 50%);
$light: hsl(165, 35%, 95%);

$MAX_WIDTH: 30rem;

body {
  font-family: sans-serif;
  background-color: $dark;
  color: $light;
}

// APP.VUE
.container {
  margin: 0 auto;
  width: $MAX_WIDTH;
  max-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

nav > ul {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: $light;
  font-size: 1.25rem;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: $light-primary;

  &:hover {
    opacity: 0.7;
  }

  & > span:first-child {
    font-weight: 900;
    letter-spacing: 0.1em;
    color: $light;
  }
}

.nav-link {
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: $dark-primary;
  color: $light;

  &:hover {
    opacity: 0.7;
  }
}

// LASTPLANKS.VUE
.last-planks {
  text-align: center;

  & > h2 {
    margin-bottom: 1em;
  }

  & > ul,
  & > p {
    margin: 0 auto 5rem auto;
    width: 85%;
    min-height: 7.5rem;
    box-sizing: border-box;
    padding: 0.5em 1em;
    border-radius: 0.5rem 0.5rem 0 0;
    background-image: linear-gradient(to bottom, $dark-primary 5%, $dark);
  }

  & > p {
    padding-top: 2em;
    font-size: 1.25rem;
  }
}

.plank {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  font-weight: 100;

  & > .date {
    color: $light-primary;
  }

  & > .time {
    font-family: monospace;
    font-weight: 900;
  }
}

// PLANKACTION.VUE
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p {
    color: $light-primary;
    font-size: 1.25rem;
    margin: 1em 0;
  }
}

.button {
  padding: 0.75em 2.25em;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary;
  color: $light;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.1em;

  &:hover {
    opacity: 0.7;
  }
}

// PLANKING.VUE
.info {
  text-align: center;
  margin-bottom: 5rem;

  & > h2 {
    margin-bottom: 1em;
  }

  & > p {
    font-size: 2rem;
    font-family: monospace;
    font-weight: 900;
  }
}

.progress {
  margin: 2em auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    hsla(165, 35%, 80%, 0.8) 20%,
    hsla(165, 35%, 80%, 0.6) 20%,
    hsla(165, 35%, 80%, 0.6) 40%,
    hsla(165, 35%, 80%, 0.4) 40%,
    hsla(165, 35%, 80%, 0.4) 60%,
    hsla(165, 35%, 80%, 0.2) 60%
  );

  animation: pulsate 4000ms linear infinite backwards;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
